<nav class="navbar navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand mx-5">EpicMedia</a>
        <a href="#"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
    </div>
</nav>