<div class="container post-container mt-1 mb-2">
    <div class="row justify-content-center">
        <div class="card col-md-6 p-3" style="background:#f1f1f1">
            <div class="post-header d-flex mb-2">
                <img src="https://placekitten.com/50/50" alt="User Avatar" class="user-avatar rounded-circle">
                <div style="margin-left:10px">
                    <h6 class="mb-0"></h6>
                    <small class="text-muted">Location</small>
                </div>
            </div>

            <img src="" alt="Post Image" class="post-image">

            <div class="post-footer">
                <div class="d-flex justify-content-between">
                    <div class="m-2 ">
                        <i class="fa fa-heart-o" style="font-size:24px; margin-right:10px"></i>
                        <i class="fa fa-comments-o" style="font-size:24px"></i>
                    </div>
                    <button type="button" class="btn btn-link"><i class="bi-bookmark"></i></button>
                </div>

                <div>
                    <p><strong>Username:</strong> This is an amazing photo!</p>
                    <p><strong>AnotherUser:</strong> Nice shot!</p>
                </div>
            </div>
            <div class="mb-3 d-flex">
                <input type="text" class="form-control w-100" placeholder="Add a comment...">
                <button type="button" class="btn btn-success btn-sm w-25">Post</button>
            </div>
        </div>
    </div>
</div>
@code {

}
